<div align='center'>
  <form name="ncaa" action=""> 
    <table border=0>
      <tr>
        <td>
          <table border=0>  
            <tr>
              <td>
              1. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 16.
              </td>
            </tr>
            <tr>
            
              <td>
              8. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 9.
              </td>
            </tr>
            <tr>
              <td>
              5. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 12.
              </td>
            
            </tr>
            <tr>
              <td>
              4. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 13.
              </td>
            </tr>
            <tr>
            
              <td>
              6. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 11.
              </td>
            </tr>
            <tr>
              <td>
              3. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 14.
              </td>
            
            </tr>
            <tr>
              <td>
              7. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 10.
              </td>
            </tr>
            <tr>
            
              <td>
              2. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 15.
              </td>
            </tr>
    
            <tr>
              <td>
              1. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 16.
              </td>
            </tr>
            <tr>
            
              <td>
              8. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 9.
              </td>
            </tr>
            <tr>
              <td>
              5. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 12.
              </td>
            
            </tr>
            <tr>
              <td>
              4. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 13.
              </td>
            </tr>
            <tr>
            
              <td>
              6. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 11.
              </td>
            </tr>
            <tr>
              <td>
              3. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 14.
              </td>
            
            </tr>
            <tr>
              <td>
              7. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 10.
              </td>
            </tr>
            <tr>
              <td>
              2. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 15.
              </td>
            </tr>
          </table>
        
        </td>
            
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
            
        <td>
          <table>  
            <tr>
              <td>
              1. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 16.
              </td>
            </tr>
            <tr>
            
              <td>
              8. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 9.
              </td>
            </tr>
            <tr>
              <td>
              5. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 12.
              </td>
            
            </tr>
            <tr>
              <td>
              4. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 13.
              </td>
            </tr>
            <tr>
            
              <td>
              6. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 11.
              </td>
            </tr>
            <tr>
              <td>
              3. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 14.
              </td>
            
            </tr>
            <tr>
              <td>
              7. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 10.
              </td>
            </tr>
            <tr>
            
              <td>
              2. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 15.
              </td>
            </tr>
    
            <tr>
              <td>
              1. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 16.
              </td>
            </tr>
            <tr>
            
              <td>
              8. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 9.
              </td>
            </tr>
            <tr>
              <td>
              5. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 12.
              </td>
            
            </tr>
            <tr>
              <td>
              4. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 13.
              </td>
            </tr>
            <tr>
            
              <td>
              6. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 11.
              </td>
            </tr>
            <tr>
              <td>
              3. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 14.
              </td>
            
            </tr>
            <tr>
              <td>
              7. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 10.
              </td>
            </tr>
            <tr>
            
              <td>
              2. <input type="text" data-team-id='1' data-seed-id='1' /> vs. <input type="text" data-team-id='1' data-seed-id='1' /> 15.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table> 
    <div>
      <input class="button" value="submit" name="submit" onclick="javascript:submitNewBracket()" type="button">
    </div>
  <form>
</div>