block header
  header.hero
    div.hero-wrap
      p.intro#intro #{poolName} March Madness
        h1#headline Tournament
        p.year
          i(class='fa fa-star')
          #{h.moment().format('YYYY')}
          i(class='fa fa-star')