extends layout

block content
  div.pool_details
    div#userPoolMessage
    form#poolNameForm.form-container
      input(type='text', name='userPoolName', id='userPoolName', placeholder='POOL NAME')
      input(type='submit', value='Submit')